/**/
*{
	margin: 0;
	padding: 0;
}

.header{
	display: flex;
    height: 100px;
    width: auto;
    position: relative;
    overflow: hidden;
	
}

.boxleft{
    width: 34%;
    justify-content: center;
    position: relative;
    display: flex;
}
.image{
    position: absolute;
    width: 27%;
    margin: -1%;
    left: 3%;
    top: -18%;
}
.imagenheader{
    display: flex;
    background-color: #656566;
    transform-origin: right;
    transform: skewX(-33deg);
    -webkit-transform-origin-y: top;
    width: 100%;
    position: relative;
    right: -1px;
    left: 7px;
}

.separator {
    position: relative;
    height: 42px;
    width: 2px;
    background-color: #1515B7;
    transform: scale(0.8) rotate(120deg) translate(161px, -16px) skew(86deg, 88deg);
    left: -7px;


 
  }

.boxright{
    display: flex;
    width: 66%;
    position: relative;


} 

.colorright{
    background-color: #020228;
    transform-origin: right;
    transform: skewX(-34deg) skewX(-1deg);
    -webkit-transform-origin-y: bottom;
    width: 100%;
    right: 9px;
    position: relative;
}

.subcontent{

    position: relative;
    justify-content: center;
    display: flex;
}

 .imgcenter{

    width: 100%;
    height: 556px;
    position: relative;
    opacity: 80%;
    background-color: #020228;

}
.form{

    padding: 1em;
    height: 29em;
    margin-top: -19px;
}
.formulario{


    position: absolute;
    width: 37%;
    margin: 1em;
}

.formu{

    position: absolute;
    display: block;
    float: left;
    background-color: #020228;
    color: white;
    padding: 1em;
}

#fname{

    width: 290px;
    height: 50px;
    border-radius: 10px;
}

#lname{

    width: 290px;
    height: 50px;
    border-radius: 10px;
    padding-left: 50px;
}

#registrarse{

    width: 290px;
    height: 50px;
    border-radius: 10px;
}
.check{

 display: flex;
}

.cheking{

    background-color: #8c8181;
    height: 106px;
    padding: 1em;
}

.victima{

    font-family: sans-serif;
}

.visitante{

    font-family: sans-serif;
}

.ayudante{

    font-family: sans-serif;
}

.btn{

    background-color: #1515B7;
    color: white;
    border: none;
    width: 58%;
    height: 30px;
    left: 4em;
    position: relative;
    top: 17px;
    padding: 1px;
}

.inpu{

    display: flex;
    position: relative;
}

.icont{

    position: absolute;
    top: 9px;
    left: 14px;
}

#fname{

    width: 290px;
    height: 50px;
    border-radius: 10px;
    padding-left: 50px;
}

#registrarse{

    width: 290px;
    height: 50px;
    border-radius: 10px;
    padding-left: 50px;
}
